
{{#each posts as |post|}}
	<li class='image-w' style='background-image: url({{post.better_featured_image.source_url}})'>
		{{!-- <img src='{{post.better_featured_image.source_url}}' alt=''> --}}
	</li>
{{/each}}
