
<li>
  {{#link-to 'landing'}}
    <span>landing</span>
  {{/link-to}}
</li>

<li>
  {{#link-to 'about'}}
    <span>about</span>
  {{/link-to}}
</li>

<li>
  {{#link-to 'contact'}}
    <span>contact</span>
  {{/link-to}}
</li>

<li>
  {{#link-to 'inspiration'}}
    <span>inspiration</span>
  {{/link-to}}
</li>

<li>
  {{#link-to 'style-guide'}}
    <span>style-guide</span>
  {{/link-to}}
</li>

<li>
  {{#link-to 'secret-about'}}
    <span>secret-about</span>
  {{/link-to}}
</li>

<li>
  {{#link-to 'faqs'}}
    <span>faqs</span>
  {{/link-to}}
</li>

<li>
  {{#link-to 'investment'}}
    <span>investment</span>
  {{/link-to}}
</li>

<li>
  {{#link-to 'reviews'}}
    <span>reviews</span>
  {{/link-to}}
</li>
