
<li>
  <a href='{{instagram}}' target='instagram'>
    Instagram
  </a>
</li>
<li>
  <a href='{{pinterest}}' target='pinterest'>
    Pinterest
  </a>
</li>
<li>
  <a href='{{facebook}}' target='facebook'>
    Facebook
  </a>
</li>
