
// // box-model reset
// html
// 	box-sizing: border-box

// *, *:before, *:after
// 	box-sizing: inherit



// body
// 	clear-floats()

// 	// set these specifically within scope / or not...

// // major blocks
// block()
// 	display: block
// 	width: 100%
// 	float: left
// 	clear-floats()

// .container, .block
// 	block()

// // center big blocks... like .inner-w
// center-block()
// 	clear-floats()
// 	margin-left: auto
// 	margin-right: auto

// full-width()
// 	max-width: 100%
// 	padding: 0

// responsive image wrapper
responsive-image-wrapper()
	img
		display: block
		width: 100%
		height: auto
.image-w
	responsive-image-wrapper()
