
.ember-load-indicator
  z-index: 100
  background: $white
  fixed-cover()
  display: flex
  justify-content: center
  align-items: center

.spinner
  width: 100px
  height: 100px

.double-bounce1
  animation: sk-bounce 1s infinite ease-in-out

@keyframes sk-bounce
  0%
    transform: scale(0.5)
  50%
    transform: scale(1.0)
  100%
    transform: scale(0.5)
