
$mint = #98ff98

html, body
	height: 100%
	background: $white
	background: darken($white, 6%)
	@media $break-point-2
		//
body
	standard-type()

.image-w
	responsive-image()

	&.photo
		max-width: 800px
		@media $break-point-2
			margin-left: $pad*4
			border: $pad solid $white
			width: 80%
			&.pool
				transform: rotate(-1deg)

.image-slider
	fixed-cover()
	// border: 10px solid $white
	background-position: cover
	opacity: 0;
	background: $black
	li //
		background-size: cover
		min-height: 100%
		background-position: center center
	img //
		opacity: 0

h1 //
	large-type()
	relative()
	z-index: 40

.container
	//
	// .inner-w
	// 	padding: $pad
	// 	center-block()
	// 	max-width: 700px

figure
	responsive-image()
	max-width: 300px

.text-w
	padding: $pad
	&.sticker-w
		padding: $pad*.5
	@media $break-point-2
		padding: $pad $pad*3

.text-w.sticker-w
	padding-bottom: 0

.content
	// padding: 1rem
	// max-width: 800px
	// border: 2px solid red
	// .inner-w
	// 	// padding-bottom: $pad*8
	// 	// border: 2px solid blue
	// @media $break-point-1
	// 	padding: 1.5rem
	// @media $break-point-2
	// 	padding: 2rem
	.inner-w
		padding: $pad

	@media $break-point-3
		.inner-w
			// margin: 0 auto
			margin-left: 10%
			max-width: 800px
			// transform: translate(5%, 0)
	footer
		padding: $pad*4 0 $pad*16
.type
	//
	// h1 //
	// 	extra-large-type()
	// h2 //
	// 	medium-type()
	// 	// color: red
	// h3 //
	// 	medium-type()
	// p //
	// 	standard()

.about
	// border: 10px solid red
	@media $break-point-1
		padding: 0

.portal
	display: block
	// border: 1px solid red
	clear-floats()
	color: $white
	width: 100%
	max-width: 90%
	absolute-translate-center()
	div
		// border: 3px solid blue
	svg
		display: block
		// border: 3px solid yellow
	@media $break-point-1
		// max-width: 90%
	@media $break-point-2
		max-width: 82%

.main-menu
	padding: $pad 0
	a //
		&.active
			color: $color

svg
	fill: currentColor

.logo-header
	padding: $pad*.5
	width: 80%
	max-width: 240px
	margin-top: $pad*4
	@media $break-point-1
		// max-width: 300px


.about
	.logo-header
		color: $black
		color: $white
		@media $break-point-2
			color: $white

.button
	&.inquire, &.faq
		// float: left
		background: black
		color: white
		width: 49%
		max-width: 200px
		display: inline-block
		vertical-align: middle
		min-width auto
		span
			display: block
			width: 100%
			text-align: center
	&:first-of-type
		margin-right: 2%

.contact-list
	margin-bottom: $pad*12
	li //
		display: block
		margin-bottom: $pad
		width: 100%
		// border: 2px solid blue
		float: left
		a //
			relative()
			display: block
			padding: $pad*.5 0
			// border: 1px solid red
			float: left
			// transition: .2s
			&:after
				absolute()
				content: ''
				top: 0
				left: 0
				width: 105%
				height: 100%
				background: black
				z-index: -1
				transform: translate(-3px,0)
				opacity: 0
				// transition: .2s
				// transition-delay: .2s
				outline: 3px solid black
			&:hover
				// background: black
				// color: white
				&:after
					opacity: 1
					transform: translate(-3px,0)
		.title
			display: inline-block
			special()
			min-width: 70px

.blast-focus
	//
	h2
		max-width: 600px
		font-size: 0;
		.blast
			standard-type()
			@media $break-point-2
				font-size: 20px

.faqs
	h1 + p
		margin-top: $pad*4

.image-w
	// relative()
	.badge
		absolute()
		top: $pad
		right: $pad
		max-width: 38%
		border-radius: 50%
		overflow: hidden

.style-guide
	overflow: hidden
	.inner-w
		padding: $pad



.ember-load-indicator
	z-index: 100
	background: $white
	relative()
	fixed()
	top: 0
	right: 0
	bottom: 0
	left: 0
	width: 100%
	height: 100%

.spinner {
	absolute-translate-center();
  width: 200px;
  height: 200px;
	// width: 70%
	// height: auto
	// max-width: 200px
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  // background-color: $black;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 1s infinite ease-in-out;
  animation: sk-bounce 1s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.9) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.cake
	margin-bottom: $pad
.pillow
	margin: $pad 0
.pool
	margin-top: $pad
	// border: 10px solid red
	@media $break-point-2
		margin: $pad*3 0

.cta
	// padding-bottom: $pad

.legal
	.inner-w
		padding: $pad
		padding-bottom: $pad*4
		color: $gray-light
		max-width: 800px
		@media $break-point-3
			margin-left: 10%
			max-width: 800px

// .yyy
// 	relative()
// 	top: $pad*3
// 	z-index: 5
// 	transform: rotate(-2deg)
//
// .xxx
// 	relative()
// 	margin-top: $pad*2
// 	// top: -30px

.about
	overflow: hidden!important
	// border: 2px solid yellow

p
	max-width: 740px

.song-w
	// border: 1px solid blue
	padding: $pad
	text-align: center
	lyric-voice()
	//
	&.light
		// background: $white
		color: $black
		@media $break-point-2
			background: darken($white, 5%)
	&.dark
		background: $black
		color: $white
	&.come-as
		text-align: center
		padding: $pad*6 0
		font-size: 70px
		span
			display: block
		@media $break-point-1
			padding: $pad*6 0
		@media $break-point-2
			padding: $pad*10 0
			// position: absolute
			// top: 0
			// left: 330px
			// width: 1400px
			// color: white
			// background: transparent
			// z-index: 0
			// transform: rotate(1deg)
	&.take-me-out
		font-size: 30px
		padding: $pad*2
		.lyric
			span
				display: block
	&.its-a
		padding: $pad*10 0

.photo
	z-index: 10
