
$mint = #98ff98

html, body
	height: 100%
	background: $white

body
	standard-type()

.image-w
	responsive-image()

.image-slider
	fixed-cover()
	// border: 10px solid $white
	background-position: cover
	opacity: 0;
	background: $black
	li //
		background-size: cover
		min-height: 100%
		background-position: center center
	img //
		opacity: 0

h1 //
	large-type()
	relative()
	z-index: 40

.container
	//
	// .inner-w
	// 	padding: $pad
	// 	center-block()
	// 	max-width: 700px

figure
	responsive-image()
	max-width: 300px

.text-w
	padding: $pad*.5

.content
	// padding: 1rem
	// max-width: 800px
	// border: 2px solid red
	// .inner-w
	// 	// padding-bottom: $pad*8
	// 	// border: 2px solid blue
	// @media $break-point-1
	// 	padding: 1.5rem
	// @media $break-point-2
	// 	padding: 2rem
	.inner-w
		padding: $pad
		
	@media $break-point-3
		.inner-w
			// margin: 0 auto
			margin-left: 10%
			max-width: 800px
			// transform: translate(5%, 0)
	footer
		padding: $pad*4 0 $pad*16
.type
	//
	// h1 //
	// 	extra-large-type()
	// h2 //
	// 	medium-type()
	// 	// color: red
	// h3 //
	// 	medium-type()
	// p //
	// 	standard()

.portal
	display: block
	// border: 1px solid red
	clear-fix()
	color: $white
	width: 100%
	max-width: 90%
	absolute-translate-center()
	div
		// border: 3px solid blue
	svg
		display: block
		// border: 3px solid yellow
	@media $break-point-1
		// max-width: 90%
	@media $break-point-2
		max-width: 82%

.main-menu
	padding: $pad 0
	a //
		&.active
			color: $color

svg
	fill: currentColor


.inquire
	float: left
	background: black
	color: white
	span
		display: block
		width: 100%
		text-align: center

.contact-list
	margin-bottom: $pad*12
	li //
		display: block
		margin-bottom: $pad	
		width: 100%	
		// border: 2px solid blue
		float: left
		a //
			relative()
			display: block
			padding: $pad*.5 0
			// border: 1px solid red
			float: left
			// transition: .2s
			&:after
				absolute()
				content: ''
				top: 0
				left: 0
				width: 105%
				height: 100%
				background: black
				z-index: -1
				transform: translate(-3px,0)
				opacity: 0
				// transition: .2s
				// transition-delay: .2s
				outline: 3px solid black
			&:hover
				// background: black
				color: white
				&:after
					opacity: 1
					transform: translate(-3px,0)
		.title
			display: inline-block
			special()
			min-width: 70px

.image-w
	// relative()
	.badge
		absolute()
		top: $pad
		right: $pad
		max-width: 38%
		border-radius: 50%
		overflow: hidden

.style-guide
	overflow: hidden
	.inner-w
		padding: $pad
		


.ember-load-indicator
	absolute-translate-center()


.spinner {
  width: 80px;
  height: 80px;
  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $black;
  opacity: 0.8;
  // background: $color
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


