
.site-map
	display: flex
	flex-flow: row wrap
	transform: translate( -($pad), 0 )
	li
		a
			display: block
			padding: $pad

body.style-guide
	//
	.container
		margin-bottom: $pad*6
	.page-title
		border-bottom: 1px solid $color-dark
	.section-heading
		margin-bottom: $pad
