
$mint = #98ff98

html, body
	height: 100%

.image-w
	responsive-image()

.image-slider
	fixed-cover()
	// border: 10px solid $white
	background-position: cover
	opacity: 0;
	li //
		background-size: cover
		min-height: 100%
		background-position: center center
	img //
		opacity: 0

h1 //
	large-type()
	relative()
	z-index: 40

.container
	//
	// .inner-w
	// 	padding: $pad
	// 	center-block()
	// 	max-width: 700px

.content.about
	padding: 1rem
	max-width: 800px
	.inner-w
		// padding-bottom: $pad*8
	@media $break-point-1
		padding: 1.5rem
	@media $break-point-2
		padding: 2rem
	footer
		padding: $pad*4 0 $pad*16
.type
	//
	h1 //
		extra-large-type()
	h2 //
		large-type()
	h3 //
		medium-type()
	p //
		standard()

.portal
	relative()
	absolute-translate-center()
	width: 100%
	max-width: 95%
	color: $mint
	color: white
	@media $break-point-1
		max-width: 90%
	@media $break-point-2
		max-width: 82%

.main-menu
	padding: $pad 0
	a //
		&.active
			color: $color

svg
	fill: currentColor


.inquire
	float: left
	background: black
	color: white
	span
		display: block
		width: 100%
		text-align: center

.contact-list
	li //
		a //
			display: block
			padding: $pad*.5 0
		.title
			font-weight: 700



