
// Fonts mixin
font-url(file)
  return '../fonts/JeanLuc/' + file

webfont(family, file, hack-chrome-windows = false, weight = 'normal')
  @font-face
    font-family family
    src url(font-url(file + '.eot'))
    src url(font-url(file + '.eot?#iefix')) format('embedded-opentype'),
        url(font-url(file + '.woff')) format('woff'), 
        url(font-url(file + '.ttf')) format('truetype'), 
        url(font-url(file + '.svg#'+ family)) format('svg')
    font-weight weight
    font-style normal
  if hack-chrome-windows
    @media screen and (-webkit-min-device-pixel-ratio:0)
      @font-face
        font-family family
        src url(font-url(file + '.svg#'+ family)) format('svg')

webfont('JeanLuc', 'jeanlucweb-thin', true, 'normal')

$book = 400
$heavy = 700

// type reset
h1, h2, h3, h4, h5, h6, li, p
	margin: 0
	padding: 0
	font-weight: 400

selectable($target)
	-webkit-user-select: $target
	-khtml-user-select: $target
	-moz-user-select: -moz- + ($target)
	-o-user-select: $target
	user-select: $target

*:not(input) //
	// selectable(none)

h1, h2, h3, h4, h5, h6, li, p
	selectable(text)

// text selection reset
* //
	&::-moz-selection,
	&::selection
		background: rgba(255,255,255,0) // nessesary ? $check
		background: transparent

selection-color($selection-color)
	&::-moz-selection
		color: $selection-color
	&::selection
		color: $selection-color

// scope specific text selection highlights
selection-color($color)

special()
	font-weight: 700
	font-family: $futura
	uppercase()
	letter-spacing: .085em
	selection-color($black)

// font stack
$heading-font-stack	= 'JeanLuc', sans-serif
$futura = "futura-pt",sans-serif

$base-font-stack 	= 'Georgia', serif

// case
lowercase()
	text-transform: lowercase

capitalize()
	text-transform: sentencecase

uppercase()
	text-transform: uppercase

// simplified font-size syntax ??? 
size($font-size)
	font-size: ($font-size)px

font-size($font-size)
	font-size: ($font-size)px

// type size patterns
extra-small-type()
	copy()
	font-size(10)
	line-height: 1.4
	// color: $gray
	@media $break-point-2
		font-size(11)

small-type()
	copy()
	font-size(13)
	line-height: 1.4
	// color: $gray-dark
	@media $break-point-2
		font-size(14)

standard-type()
	// copy()
	font-size: 16px
	line-height: 1.5
	// color $black
	font-family: $futura
	font-weight: $book
	letter-spacing: .08em
	strong
		special()
	@media $break-point-1
		// font-size(17)

medium-type()
	font-size(18)
	line-height: 1.4
	font-family: $futura
	font-weight: $book
	selection-color($highlight)
	@media $break-point-2
		font-size(19)

large-type()
	font-family: $heading-font-stack
	font-size(24)
	line-height: 1.4
	@media $break-point-2
		font-size(30)

extra-large-type()
	font-family: $heading-font-stack
	font-size: 33px
	line-height: 1
	// color: $color-dark
	@media $break-point-2
		font-size: 40px

focus-voice()
	standard-type()
	span
		background: $black
		color: $white
		padding: $pad*.5 $pad*.5
		display: inline-block
		margin-bottom: $pad*.5

.focus-voice
	focus-voice()

calm-voice()
	standard-type()
	font-size: 18px
	// color: red
	@media $break-point-2
		font-size: 19px

.calm-voice
	calm-voice()

lyric-voice()
	extra-large-type()

.text-w.sticker-w
	padding-bottom: 0

.song-w
	// border: 1px solid blue
	padding: $pad
	text-align: center
	lyric-voice()
	//
	&.light
		background: $white
		color: $black
	&.dark
		background: $black
		color: $white
	&.come-as
		text-align: center
		padding: $pad*2 0
		font-size: 70px
		span
			display: block
	&.take-me-out
		font-size: 30px
		padding: $pad*2
		.lyric
			span
				display: block
	&.its-a
		padding: $pad*10 0

.text-w.fuck
	padding: $pad*2 $pad
	h2
		calm-voice()

.about
	.image-w
		position: relative

.page-title
	extra-large-type()


type-setup()
	h1
		extra-large-type()
	h2
		focus-voice()
	p + h2
		// margin-top: $pad*3
	h3
		calm-voice()
	p
		&:not(:last-of-type)
			margin-bottom: $pad*2

.editorial
	type-setup()
	h1
		border: 1px solid red
	h2
		border: 1px solid blue
	h3
		border: 1px solid green
	p
		border: 1px solid yellow

.type-voice
	article
		type-setup()
	.voice
		margin-bottom: $pad*4
	p
		margin-bottom: 0 // 
		&:not(:last-of-type)
			margin-bottom: $pad*2




// 	ul, ol
// 		padding: $pad 0 $pad $pad*1.7
// 		li //
// 			margin-bottom $pad*.5
