
// font stack
$base-font-stack 	= 'Georgia', serif
$heading-font-stack	= 'JeanLuc', sans-serif
$futura = "futura-pt",sans-serif

// case
lowercase()
	text-transform: lowercase

capitalize()
	text-transform: sentencecase

uppercase()
	text-transform: uppercase

// type size patterns
extra-small-type()
	font-size: 10px
	line-height: 1.4
	@media $break-point-2
		font-size: 11px

small-type()
	font-size: 13px
	line-height: 1.4
	@media $break-point-2
		font-size: 14px

standard-type()
	font-size: 15px
	line-height: 1.5
	font-family: $futura
	font-weight: 400
	letter-spacing: .08em
	strong
		special()
	@media $break-point-1
		font-size: 16px

medium-type()
	font-size: 18px
	line-height: 1.4
	font-family: $futura
	font-weight: 400
	selection-color($highlight)
	@media $break-point-2
		font-size: 19px

large-type()
	font-family: $heading-font-stack
	font-size: 24px
	line-height: 1.4
	@media $break-point-2
		font-size: 30px

extra-large-type()
	font-family: $heading-font-stack
	font-size: 33px
	line-height: 1
	@media $break-point-2
		font-size: 40px

focus-voice()
	standard-type()
	span
		background: $black
		color: $white
		padding: $pad*.5 $pad*.5
		display: inline-block
		margin-bottom: $pad*.5

.focus-voice
	focus-voice()

calm-voice()
	standard-type()
	font-size: 18px
	// color: red
	@media $break-point-2
		font-size: 19px

.calm-voice
	calm-voice()

lyric-voice()
	extra-large-type()



.about
	.image-w
		position: relative

.page-title
	extra-large-type()



// type-setup()
// 	h1
// 		extra-large-type()
// 	h2
// 		focus-voice()
// 		font-weight: 700
// 	h2 + h2
// 		margin-top: $pad*2
// 	p + h2
// 		margin-top: $pad*3
// 	h3
// 		calm-voice()
// 	p
// 		&:not(:last-of-type)
// 			margin-bottom: $pad*2

tape()
	display: inline-block
	background: $black
	color: $white
	padding: $pad
	min-width: 80px
	text-align: center
	font-size: 10px
	medium-type()

.editorial
	// type-setup()
	// h1
	// 	border: 1px solid red
	// h2
	// 	border: 1px solid blue
	// h3
	// 	border: 1px solid green
	// p
	// 	border: 1px solid yellow

.type-voice
	article
		type-setup()
	.voice
		margin-bottom: $pad*4
	p //
		margin-bottom: 0 //
		&:not(:last-of-type)
			margin-bottom: $pad*2




// 	ul, ol
// 		padding: $pad 0 $pad $pad*1.7
// 		li //
// 			margin-bottom $pad*.5
