
<section class='container'>
<div class='inner-w'>

	<ul class='post-list'>
		{{#each model as |post index|}}
			<li class='post'>
				{{#link-to 'posts.post' post.slug}}
					{{post.title}}
				{{/link-to}}
			</li>
		{{/each}}
	</ul>

</div>
</section>
