
<nav class='main-menu'>
	<ul class='menu'>
		<li>
			{{#link-to 'landing'}}
				<span>Landing</span>
			{{/link-to}}
		</li>
		<li>
			{{#link-to 'about'}}
				<span>About</span>
			{{/link-to}}
		</li>
		<li>
			{{#link-to 'contact'}}
				<span>Inquire</span>
			{{/link-to}}
		</li>
		<li>
			{{#link-to 'inspiration'}}
				<span>Inspiration</span>
			{{/link-to}}
		</li>
	</ul>
</nav>
