
<section class='container about content editorial'>
<div class='inner-w'>
	
	{{{model.content}}}

	<footer>
		{{#link-to 'contact' class='button inquire'}}
			<span>Inquire</span>
		{{/link-to}}
	</footer>
</div>
</section>



{{outlet}}
