
<header class='site-header'>
<div class='inner-w'>

  <h1>THE GOLD COLLECTIVE</h1>

</div>
</header>



<div class='container application-outlet {{media.classNames}}'>
  {{outlet}}
</div>



<section class='container legal'>
<div class='inner-w'>
  © 2017 THE GOLD COLLECTIVE
</div>
</section>

<div class='media-size-helper'></div>



{{ember-load-remover}}
