
<header class='container site-header'>
<div class='inner-w'>

  <h1>THE GOLD COLLECTIVE</h1>

</div>
</header>



<div class='container application-outlet {{media.classNames}}'>
                                      {{!-- not really great --}}
  {{outlet}}
</div>



<footer class='container legal'>
<div class='inner-w'>

  <div class='copy'>
    © 2017 THE GOLD COLLECTIVE
  </div>

  <ul class='menu'>
{{!--     <li>
      {{#link-to 'landing'}}
        <span>landing</span>
      {{/link-to}}
    </li> --}}

    <li>
      {{#link-to 'about'}}
        <span>about</span>
      {{/link-to}}
    </li>

    <li>
      {{#link-to 'faqs'}}
        <span>faqs</span>
      {{/link-to}}
    </li>

{{!--     <li>
      {{#link-to 'investment'}}
        <span>investment</span>
      {{/link-to}}
    </li> --}}

    <li>
      {{#link-to 'reviews'}}
        <span>reviews</span>
      {{/link-to}}
    </li>

    <li>
      {{#link-to 'contact'}}
        <span>contact</span>
      {{/link-to}}
    </li>
  </ul>

</div>
</footer>

<div class='media-size-helper'></div>



{{ember-load-remover}}
