
{{!-- <h1>Gold</h1> --}}

<div class='container application-outlet'>
  {{outlet}}
</div>

<section class='container legal'>
<div class='inner-w'>
  © 2016 THE GOLD COLLECTIVE
</div>
</section>

<div class='media-size-helper'></div>

{{ember-load-remover}}
