
<section class="container content editorial faqs">
<div class="inner-w">

  {{#adopt-orphans}}
    {{{model.content}}}
  {{/adopt-orphans}}

  <footer class='cta'>
    <div class='text-w'>
      {{#link-to 'investment' class='button faq'}}
        <span>Investment</span>
      {{/link-to}}
      {{#link-to 'contact' class='button inquire'}}
        <span>Inquire</span>
      {{/link-to}}
    </div>
  </footer>

</div>
</section>


{{outlet}}
