
<section class="container content editorial faqs">
<div class="inner-w">

  <section class='wp-content'>
    {{{model.content}}}
  </section>


  <footer class='cta'>
    <ul class='action-list'>
{{!--       <li class='action'>
      {{#link-to 'investment' class='button investment'}}
        <span>Investment</span>
      {{/link-to}}
      </li> --}}
      <li class='action'>
      {{#link-to 'contact' class='button inquire'}}
        <span>Inquire</span>
      {{/link-to}}
      </li>
      <li class='action'>
      {{#link-to 'reviews' class='button reviews'}}
        <span>Reviews</span>
      {{/link-to}}
      </li>
    </ul>
  </footer>

</div>
</section>
