
<section class='container content editorial investment'>
<div class='inner-w'>

  <article class='wp-content'>
    {{{model.content}}}
  </article>

  <footer class='cta'>
    <ul class='action-list'>
      <li class='action'>
      {{#link-to 'faqs' class='button faq'}}
        <span>FAQs</span>
      {{/link-to}}
      </li>
      <li class='action'>
      {{#link-to 'contact' class='button inquire'}}
        <span>Inquire</span>
      {{/link-to}}
      </li>
    </ul>
  </footer>

</div>
</section>
