
<section class='container investment content'>
<div class='inner-w'>

	<div class='text-w editorial' >
		{{{model.content}}}
	</div>

  <footer class='cta'>
    <div class='text-w'>
      {{#link-to 'faqs' class='button faq'}}
        <span>FAQs</span>
      {{/link-to}}
      {{#link-to 'contact' class='button inquire'}}
        <span>Inquire</span>
      {{/link-to}}
    </div>
  </footer>

</div>
</section>
