
<section class='container content editorial investment'>
<div class='inner-w'>

  {{#adopt-orphans}}
    {{{model.content}}}
  {{/adopt-orphans}}

  <footer class='cta'>
    <div class='text-w'>
      {{#link-to 'faqs' class='button faq'}}
        <span>FAQs</span>
      {{/link-to}}
      {{#link-to 'contact' class='button inquire'}}
        <span>Inquire</span>
      {{/link-to}}
    </div>
  </footer>

</div>
</section>
