
{{element-slider posts=model}}



{{!-- {{#link-to 'about' class='portal'}}
	<span class='the'>The</span> <span class='gold'>Gold</span><br>
	<span class='collective'>Collective</span>
{{/link-to}} --}}



{{#link-to 'about' class='image-w portal'}}
	{{gold-logo}}
{{/link-to}}

{{!-- <div class='image-w portal'>
	{{gold-logo}}
</div>

 --}}

{{outlet}}
