
{{!-- {{element-slider splashImages=model}} --}}

{{flickity-slider images=model class='full-screen flickity-fade'}}

<h1 class='visually-hidden'>The Gold Collective</h1>

{{#link-to 'about' class='image-w portal'}}
	{{gold-logo}}
{{/link-to}}
