
<section class='container type'>
<div class='inner-w'>

	<h1>abcdefghijklmnopqrstuvwxyz,./;'!@#$%^&*()_+[]{}:"<>?</h1>

	<h1>Extra-large-type</h1>

	<h2>Large-type</h2>

	<h3>Medium-type</h3>

	<p>Standard type</p>

	{{partial 'partials/main-menu'}}

</div>
</section>



<section class='container editorial'>
<div class='inner-w'>

	{{{model.content}}}

</div>
</section>



{{outlet}}
